<mat-toolbar class="d-flex justify-content-between text-white bg-black">
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="toggleAndRotate()">
      <mat-icon [style.transform]="sidenavOpen ? 'rotate(180deg)' : 'rotate(0deg)'">menu</mat-icon>
    </button>
    <h1 (click)="navigateToDashboard()">FDM</h1>
    <mat-icon class="fire-icon">local_fire_department</mat-icon>
  </div>
  <div>
    <span *ngIf="pageName === 'Dashboard'" class="m-0 me-3">{{pageName}}</span>
    <div *ngIf="!(pageName === 'Dashboard') && !url.includes('vehicle/edit')"
         class="m-0 me-3 d-flex align-items-center">
      <span class="cursor-pointer"
            style="font-size: 15px"
            (click)="navigateToDashboard()">Dashboard</span>
      <mat-icon>arrow_right</mat-icon>
      {{pageName}}</div>
    <div *ngIf="pageName === 'Fahrzeuge' && url.includes('vehicle/edit')"
         class="m-0 ms-2 me-3 d-flex align-items-center">
      <span class="cursor-pointer"
            style="font-size: 15px"
            (click)="navigateToVehicle()">Fahrzeuge</span>
      <mat-icon>arrow_right</mat-icon>
      <span>{{objectName}}</span>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [autoFocus]="false">
    <mat-nav-list>
      <mat-list-item class="bg-transparent">
        <a (click)="navigateToDashboard()" mat-list-item>
          <span class="entry cursor-pointer">
            <mat-icon>home</mat-icon>
            <span>Dashboard</span>
          </span>
        </a>
      </mat-list-item>
      <div style="margin-top: 10px; margin-bottom: 10px">
        <mat-divider></mat-divider>
      </div>
      <mat-list-item class="cursor-pointer">
        <a mat-list-item href="/fdm/dashboard/vehicle">
          <span class="entry cursor-pointer">
            <mat-icon>fire_truck</mat-icon>
            <span>Fahrzeuge</span>
          </span>
        </a>
      </mat-list-item>
      <mat-list-item class="cursor-pointer">
        <a mat-list-item href="/fdm/dashboard/location">
          <span class="entry cursor-pointer">
            <mat-icon>pin_drop</mat-icon>
            <span>Orte</span>
          </span>
        </a>
      </mat-list-item>
      <div class="flex-spacer"></div>
      <mat-list-item (click)="openSettings()" class="cursor-pointer bottom-item">
        <a mat-list-item>
          <span class="entry cursor-pointer">
            <mat-icon>settings</mat-icon>
            <span>Einstellungen</span>
          </span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
