<div class="row">
  <mat-form-field class="col-12 col-md-3">
    <mat-label>Fahrzeug</mat-label>
    <input #vehicleSearch
           id="vehicleSearch"
           type="text"
           placeholder="Wählen"
           matInput
           [matAutocomplete]="veh"
           [(ngModel)]="vehicleName"
           [disabled]="!enableVehicleInput"
           (input)="filter()"
           (focus)="resetLocationName()">
    <mat-autocomplete #veh="matAutocomplete">
      <mat-option *ngFor="let vehicle of vehicles"
                  [value]="vehicle.name"
                  (click)="filterAfterOptionClick(vehicle.name, StorageType.VEHICLE)">
        {{vehicle.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="col-12 col-md-3">
    <mat-label>Ort</mat-label>
    <input #locationSearch
           id="locationSearch"
           type="text"
           placeholder="Wählen"
           matInput
           [(ngModel)]="locationName"
           [disabled]="!enableLocationInput"
           [matAutocomplete]="loc"
           (ngModelChange)="filter()"
           (focus)="resetVehicleName()">
    <mat-autocomplete #loc="matAutocomplete">
      <mat-option *ngFor="let location of locations"
                  [value]="location.name"
                  (click)="filterAfterOptionClick(location.name, StorageType.LOCATION)">
        {{location.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
