<mat-form-field class="w-100 mb-1" style="margin-top: 5vh">
  <mat-label>Gerät suchen</mat-label>
  <input #searchInput matInput placeholder="Z.B. FF2" [(ngModel)]="deviceSearch"
         (ngModelChange)="filterDevices()">
</mat-form-field>

<div style="margin-top: 3vh; margin-left: 5em; margin-right: 5em">
  <div class="row d-flex align-items-center mb-4">
    <div class="d-flex align-items-center col-lg-10 col-md-9">
      <h1 class="text-nowrap m-0">Aktuelle Geräte</h1>
      <button (click)="refreshDevices()" mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="col-lg-2 col-md-3">
      <button class="text-nowrap mb-2 text-white"
              (click)="openCreateForm()"
              [disabled]="formShowing"
              style="background-color: #2f80ed;"
              mat-raised-button>Gerät hinzufügen
      </button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive mb-5">
      <table class="table table-hover text-nowrap">
        <thead>
        <tr class="row">
          <th class="col-2">Geräte-Nummer</th>
          <th class="col-2">Name</th>
          <th class="col-2">Ort</th>
          <th class="col-2">Fahrzeug</th>
          <th class="col-2">Status</th>
          <th class="col-2">Verwalten</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let device of filteredDevices" class="row">
          <td class="col-2">{{device.id?.toString() }}</td>
          <td class="col-2">{{device.name }}</td>
          <td class="col-2">{{device.location?.name}}</td>
          <td class="col-2">{{device.vehicle?.name}}</td>
          <td class="col-2">{{getDeviceState(device)}}</td>
          <td class="col-2">
            <mat-icon (click)="openEditModal(device)"
                      class="material-icons-outlined"
                      matTooltip="Gerät bearbeiten"
                      matTooltipPosition="above">edit
            </mat-icon>
            <span class="ms-3"></span>
            <mat-icon (click)="openDeleteModal(device)"
                      class="material-icons-outlined delete-button"
                      matTooltip="Gerät löschen"
                      matTooltipPosition="above">delete
            </mat-icon>
            <span class="ms-3"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="filteredDevices?.length === 0">
    <p>Kein Gerät konnte gefunden werden</p>
  </div>
</div>

