<div class="mt-5">
  <div class="row mb-3">
    <mat-form-field class="col-12 col-md-6 mb-2">
      <mat-label>Gerät suchen</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="deviceSearch"
             (ngModelChange)="filterWithAllProperties()">
    </mat-form-field>
    <button *ngIf="droppedDevices.length > 0" color="primary" (click)="save()" class="col-12 col-md-3 offset-lg-2"
            mat-raised-button>Speichern ({{ droppedDevices.length }})
    </button>
  </div>

  <div class="d-flex align-items-center mb-3" *ngIf="rendered">
    Zur Verfügung stehende Geräte Geräte: {{ filteredDevices.length }}
    <mat-icon class="material-icons-outlined ms-2" matTooltip="{{getTooltipInfoText()}}"
              matTooltipPosition="above">info
    </mat-icon>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div cdkDropList
           #deviceList="cdkDropList"
           class="example-list"
           [cdkDropListData]="filteredDevices"
           (cdkDropListDropped)="drop($event)"
           [cdkDropListConnectedTo]="[movedList]">
        <div *ngFor="let device of filteredDevices">
          <mat-card class="m-1 drag drag-preview" cdkDrag>
            <mat-card-content class="row d-flex align-items-center">
              <div class="col-10">
                {{ device.name }}
              </div>
              <mat-checkbox (click)="handleCheckboxClick(device)"
                            [checked]="isDeviceSelected(device)"
                            color="primary"
                            class="col-1 me-2"></mat-checkbox>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div cdkDropList
           #movedList="cdkDropList"
           [cdkDropListData]="droppedDevices"
           [cdkDropListConnectedTo]="[deviceList]"
           class="example-list"
           (cdkDropListDropped)="drop($event)">
    <span class="p-2 d-flex justify-content-center"
          *ngIf="droppedDevices.length < 1">Geräte hier platzieren</span>
        <div *ngFor="let device of droppedDevices">
          <mat-card class="m-1 drag w-100" cdkDrag>
            <mat-card-content class="row d-flex align-items-center">
              <div class="col-10">
                {{ device.name }}
              </div>
              <mat-checkbox (click)="handleCheckboxClickDropped(device)"
                            [checked]="isDeviceSelected(device)"
                            color="primary"
                            class="col-1 me-2"></mat-checkbox>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>
