<div class="me-2" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-5 text-wrap" mat-dialog-title>Vorgang bestätigen</p>
    <div class="d-flex align-items-center">
      <div (click)="closeDialog()" class="cursor-pointer">
        <button mat-icon-button>
          <mat-icon id="close-icon-confirm">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <p>Möchten sie den Vorgang bestätigen?</p>
    <div class="mb-2 mt-2">
      <mat-divider></mat-divider>
    </div>
  </div>
  <div matDialogActions class="d-flex justify-content-end align-items-center">
    <button class="btn w-100" color="primary" mat-raised-button (click)="confirmHandle()">
      Ja
    </button>
  </div>
</div>
