<div>
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-5" mat-dialog-title>Gerät/e hinzufügen</p>
    <div class="d-flex align-items-center">
      <div class="cursor-pointer me-2">
        <button (click)="closeDialog()" mat-icon-button>
          <mat-icon id="close-icon-single-device">close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div mat-dialog-content>
    <mat-tab-group (selectedTabChange)="changeCreateFormat($event)">
      <mat-tab label="Ein Gerät"></mat-tab>
      <mat-tab label="Mehrere Geräte"></mat-tab>
    </mat-tab-group>

    <div class="mt-4 mb-4">
      <mat-divider></mat-divider>
    </div>

    <div *ngIf="addOneDevice" class="mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <p class="m-0">Gerät zuordnen</p>
        <div class="d-flex align-items-center m-0">
          <mat-checkbox [checked]="createMultiple" matTooltip="Fenster nach Erstellung nicht schliessen." class="ms-3"
                        matTooltipPosition="above"
                        (click)="handleCreateMultipleAction()"></mat-checkbox>
          <button (click)="resetForm()" mat-icon-button
                  matTooltip="Formular zurücksetzen"
                  matTooltipPosition="above">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <form *ngIf="addOneDevice" [formGroup]="deviceForm">
      <div class="d-flex flex-column flex-wrap">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input class="mb-0" formControlName="name"
                 matInput
                 (focus)="disableDrag()"
                 (blur)="enableDrag()">

          <mat-error class="mt-0"
                     *ngIf="deviceForm.get('name')?.invalid && deviceForm.get('name')?.touched">
            Name ist ein Pflichtfeld!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Typ</mat-label>
          <input #noticeSearch
                 type="text"
                 placeholder="Wählen"
                 formControlName="type"
                 matInput
                 [matAutocomplete]="type"
                 (input)="filterTypes($event)">
          <mat-autocomplete #type="matAutocomplete">
            <mat-option *ngFor="let type of filteredTypes"
                        [value]="type">
              {{type}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="deviceForm.get('type').invalid && deviceForm.get('type').touched">Typ ist ein Pflichtfeld!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bemerkung</mat-label>
          <input #noticeSearch
                 type="text"
                 placeholder="Wählen"
                 formControlName="notice"
                 matInput
                 [matAutocomplete]="notice"
                 (input)="filterNotices($event)">
          <mat-autocomplete #notice="matAutocomplete">
            <mat-option *ngFor="let notice of filteredNotices"
                        [value]="notice">
              {{notice}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="deviceForm.get('notice').invalid && deviceForm.get('notice').touched">Bemerkung ist ein Pflichtfeld!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ort</mat-label>
          <input #noticeSearch
                 type="text"
                 placeholder="Wählen"
                 formControlName="location"
                 matInput
                 [matAutocomplete]="location"
                 (input)="filterLocations($event)">
          <mat-autocomplete #location="matAutocomplete">
            <mat-option *ngFor="let location of filteredLocations"
                        [value]="location.name">
              {{location.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="deviceForm.get('location').invalid && deviceForm.get('location').touched">Ort ist ein Pflichtfeld!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="state">
            <mat-option value="STORAGE">LAGER</mat-option>
            <mat-option value="REESTABLISH">RETABLIEREN</mat-option>
          </mat-select>
          <mat-error
            *ngIf="deviceForm.get('state')?.invalid && deviceForm.get('state')?.touched">
            Status ist ein Pflichtfeld!
          </mat-error>
        </mat-form-field>

        <div mat-dialog-actions class="d-flex justify-content-end">
          <button type="submit"
                  class="btn text-white w-100"
                  mat-raised-button
                  [disabled]="isSubmitting"
                  (click)="saveDevice()"
                  color="primary">
            Speichern
          </button>
        </div>
      </div>
    </form>

    <app-add-multiple-devices *ngIf="!addOneDevice"
                              (devicesCreated)="emitCreatedSuccessfullyValue($event)"></app-add-multiple-devices>

  </div>
</div>
