<mat-form-field *ngIf="showVehicleInput || (showVehicleInput && showLocationInput)" class="w-100">
  <mat-label>Fahrzeug suchen</mat-label>
  <input #vehicleSearch
         type="text"
         placeholder="Wählen"
         matInput
         [matAutocomplete]="veh"
         (input)="filter($event, true)"
         (focus)="filter($event, true)">
  <mat-autocomplete #veh="matAutocomplete">
    <mat-option *ngFor="let vehicle of filteredVehicles"
                [value]="vehicle.name"
                (click)="setVehicleInput.emit(vehicle)">
      {{vehicle.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field *ngIf="showLocationInput || (showVehicleInput && showLocationInput)" class="w-100">
  <mat-label>Ort suchen</mat-label>
  <input #locationSearch
         type="text"
         placeholder="Wählen"
         matInput
         [matAutocomplete]="loc"
         (input)="filter($event, false)"
         (focus)="filter($event, false)">
  <mat-autocomplete #loc="matAutocomplete">
    <mat-option *ngFor="let location of filteredLocations"
                [value]="location.name"
                (click)="setLocationInput.emit(location)">
      {{location.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
