<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-5" mat-dialog-title>Gerät/e hinzufügen</p>
    <div class="d-flex align-items-center">
      <div class="cursor-pointer me-2">
        <button (click)="closeDialog()" mat-icon-button>
          <mat-icon id="close-icon-single-device">close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div mat-dialog-content>
    <mat-tab-group (selectedTabChange)="changeCreateFormat($event)">
      <mat-tab label="Ein Gerät"></mat-tab>
      <mat-tab label="Mehrere Geräte"></mat-tab>
    </mat-tab-group>

    <div>
      <hr>
    </div>

    <div *ngIf="addOneDevice" class="mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <p class="m-0">Gerät zuordnen</p>
        <button (click)="resetForm()" mat-icon-button
                matTooltip="Formular zurücksetzen"
                matTooltipPosition="above">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <div>
        <mat-tab-group (selectedTabChange)="changeToDeviceOrLocation($event)">
          <mat-tab label="Fahrzeug"></mat-tab>
          <mat-tab label="Ort"></mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <form *ngIf="addOneDevice" [formGroup]="deviceForm">
      <div class="d-flex flex-column flex-wrap">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input class="mb-0" formControlName="name" matInput>
          <mat-error class="mt-0" *ngIf="deviceForm.get('name')?.invalid && deviceForm.get('name')?.touched">
            Name ist ein Pflichtfeld!
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!locationSelected">
          <mat-label>Fahrzeug</mat-label>
          <input formControlName="vehicle" matInput>
          <mat-error
            *ngIf="deviceForm.get('vehicle')?.invalid && deviceForm.get('vehicle')?.touched">
            Fahrzeug ist ein Pflichtfeld!
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="locationSelected">
          <mat-label>Ort</mat-label>
          <input formControlName="location" matInput>
          <mat-error
            *ngIf="deviceForm.get('location')?.invalid && deviceForm.get('location')?.touched">
            Ort ist ein Pflichtfeld!
          </mat-error>
        </mat-form-field>

        <div class="d-flex mb-4 flex-wrap mt-2">
          <button *ngIf="!locationSelected"
                  mat-raised-button
                  (click)="showVehiclesList()"
                  [disabled]="vehicles?.length === 0">
            Fahrzeuge suchen
          </button>
          <button *ngIf="locationSelected" class="me-2 mb-2 mb-md-0"
                  mat-raised-button
                  (click)="showLocationsList()"
                  [disabled]="locations?.length === 0">
            Orte suchen
          </button>
        </div>

        <app-vehicle-location-autocompletion *ngIf="showVehicles"
                                    [showVehicleInput]="true"
                                    [showLocationInput]="false"
                                    [vehicles]="vehicles"
                                    (setVehicleInput)="setVehicleInput($event)"></app-vehicle-location-autocompletion>
        <app-vehicle-location-autocompletion *ngIf="showLocations"
                                    [showVehicleInput]="false"
                                    [showLocationInput]="true"
                                    [locations]="locations"
                                    (setLocationInput)="setLocationInput($event)"></app-vehicle-location-autocompletion>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngIf="!locationSelected" value="ACTIVE">AKTIV</mat-option>
            <mat-option *ngIf="locationSelected" value="STORAGE">LAGER</mat-option>
            <mat-option *ngIf="locationSelected" value="REESTABLISH">RETABLIEREN</mat-option>
          </mat-select>
          <mat-error
            *ngIf="deviceForm.get('state')?.invalid && deviceForm.get('state')?.touched">
            Status ist ein Pflichtfeld!
          </mat-error>
        </mat-form-field>
      </div>

      <div mat-dialog-actions class="d-flex justify-content-end">
        <button type="submit"
                class="btn text-white w-100"
                mat-raised-button
                [disabled]="isSubmitting"
                (click)="saveDevice()"
                color="primary">
          Speichern
        </button>
      </div>
    </form>

    <app-add-multiple-devices *ngIf="!addOneDevice"
                              (devicesCreated)="checkIfMultipleDevicesCreated($event)"></app-add-multiple-devices>

  </div>
</div>
