<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="d-flex justify-content-center flex-column w-25">
    <div (click)="navigateToVehicles()" class="p-4 d-flex justify-content-center align-items-center border border-dark rounded bg-gradient mb-3">
      <span class="text-white">Fahrzeuge</span>
    </div>
    <div class="p-4 d-flex justify-content-center align-items-center border border-dark rounded bg-gradient mb-3">
      <span class="text-white">AS-Geräte</span>
    </div>
    <div class="p-4 d-flex justify-content-center align-items-center border border-dark rounded bg-gradient mb-3">
      <span class="text-white">Notfalltaschen</span>
    </div>
    <div class="p-4 d-flex justify-content-center align-items-center border border-dark rounded bg-gradient mb-3">
      <span class="text-white">Com-Masken</span>
    </div>
    <div class="p-4 d-flex justify-content-center align-items-center border border-dark rounded bg-gradient mb-3">
      <span class="text-white">CSA</span>
    </div>
  </div>
</div>
