<div class="common-margin-top-search-input">
  <mat-form-field class="w-100 mb-1">
    <mat-label>Fahrzeug suchen</mat-label>
    <input #searchInput matInput placeholder="ID, Name" [(ngModel)]="locationSearch"
           (ngModelChange)="filterWithAllProperties()">
  </mat-form-field>
</div>

<div class="mt-3 ms-5 me-5 mb-5">
  <div class="row d-flex align-items-center mb-4">
    <div class="col-3 d-flex align-items-center col-lg-10 col-sm-9">
      <h1 class="text-nowrap m-0">Aktuelle Orte ({{dataSource.data.length}})</h1>
      <button class="ms-1" (click)="refreshDevices()" matTooltip="Fahrzeugliste aktualisieren"
              matTooltipPosition="above" mat-icon-button>
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
    <div class="d-none d-sm-block col-lg-2 col-sm-3">
      <button (click)="openCreateLocationDialog()" color="primary"
              class="btn text-nowrap text-white"
              mat-raised-button>
        Ort hinzufügen
      </button>
    </div>
  </div>
  <div *ngIf="locations?.length! > 1" class="d-none d-sm-flex row align-items-center mb-4 text-nowrap">
    <div class="col-9">
      <button mat-raised-button
              (click)="openDeleteMultipleDialog()"
              class="btn cursor-pointer"
              [disabled]="selectedLocations.length < 1">
        Gerät/e verwalten ({{selectedLocations.length}})
      </button>
    </div>
    <div class="col-3">
      <mat-checkbox (click)="addAllDevices()"
                    labelPosition="before"
                    color="primary"
                    [checked]="isChecked">
        Alle auswählen
      </mat-checkbox>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Ort-ID">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width': columnWidths['Ort-ID']}">Ort-ID</th>
        <td mat-cell *matCellDef="let element"
            [ngStyle]="{'width': columnWidths['Ort-ID']}" [innerHtml]="element.uuId | highlightSearchText: locationSearch"></td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width': columnWidths['Name']}">Name</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': columnWidths['Name']}" [innerHtml]="element.name | highlightSearchText: locationSearch"></td>
      </ng-container>

      <ng-container matColumnDef="Geräte">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width': columnWidths['Geräte']}">Geräte</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': columnWidths['Geräte']}">
          <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center flex-grow-1">
              <span [innerHTML]="getLimitedDevices(element.uuId)"></span>
              <span *ngIf="devicesMap.get(element.uuId)?.length! > 1"
                    class="ms-3">({{devicesMap.get(element.uuId)?.length!}})</span>
              <span *ngIf="devicesMap.get(element.uuId)?.length! === 0">({{devicesMap.get(element.uuId)?.length!}})</span>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Aktionen">
        <th mat-header-cell *matHeaderCellDef>
          <div class="d-flex align-items-center">
            Aktionen
            <mat-icon class="material-icons-outlined ms-2" matTooltip="{{getTooltipActionsText()}}"
                      matTooltipPosition="above">info
            </mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex align-items-center">
            <mat-icon (click)="navigateToEdit(element.uuId)"
                      class="material-icons-outlined cursor-pointer"
                      matTooltip="Gerät bearbeiten"
                      matTooltipPosition="above">edit
            </mat-icon>
            <span class="ms-3"></span>
            <mat-icon matTooltip="Weniger anzeigen" matTooltipPosition="above"
                      *ngIf="expandedMap.get(element.id)"
                      (click)="toggleExpand(element.id)">visibility
            </mat-icon>
            <mat-icon matTooltip="Alle anzeigen" matTooltipPosition="above"
                      *ngIf="devicesMap.get(element.id)?.length! > limit && !expandedMap.get(element.id)"
                      (click)="toggleExpand(element.id)">visibility_off
            </mat-icon>
            <mat-icon matButtonIcon (click)="openDeleteModal(element)"
                      class="material-icons-outlined cursor-pointer"
                      matTooltip="Gerät löschen"
                      color="warn"
                      *ngIf="devicesMap.get(element.id)?.length === 0"
                      matTooltipPosition="above">delete
            </mat-icon>
            <span class="ms-3"></span>
            <mat-checkbox color="primary"
                          *ngIf="locations?.length! > 1 && devicesMap.get(element.id)?.length === 0"
                          [checked]="isLocationSelected(element)"
                          (click)="handleCheckboxClick(element)">
            </mat-checkbox>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
