<div class="common-margin-top me-5 ms-5">
  <div  class="d-flex bg-gradient align-items-center p-3 justify-content-between align-items-center mb-5 rounded">
    <div (click)="navigateToDashboard()" class="d-flex align-items-center">
      <mat-icon class="me-2">arrow_back</mat-icon><h2 class="m-0">Zurück</h2>
    </div>
    <div>
      <h1 class="m-0">
        Fahrzeuge
      </h1>
    </div>
    <div class="d-flex align-items-center">
      <mat-icon class="invisible m-2">arrow_back</mat-icon><h3 class="invisible m-0">Zurück</h3>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center flex-column mb-3 mx-auto">
    <mat-form-field class="w-50">
      <input #typeSearch
             type="text"
             placeholder="Suchen"
             matInput
             [matAutocomplete]="vehicle"
             (input)="filterVehicles($event)">
      <mat-autocomplete #vehicle="matAutocomplete">
        <mat-option *ngFor="let vehicle of filteredVehicles"
                    [value]="vehicle.name" (click)="navigateToEdit(vehicle)">
          {{vehicle.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-progress-spinner *ngIf="!rendered" style="margin:0 auto;"
                        mode="indeterminate"></mat-progress-spinner>

  <div class="d-flex justify-content-center">
    <div class="row row-cols-2">
      <div class="col" *ngFor="let vehicle of firstSixVehicles">
        <div (click)="navigateToEdit(vehicle)" class="p-4 d-flex justify-content-center align-items-center border border-dark rounded bg-gradient mb-2 cursor-pointer">
          <span>{{ vehicle.name }}</span>
        </div>
      </div>
    </div>
  </div>

</div>
