<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-5" mat-dialog-title>Gerät bearbeiten</p>
    <div class="cursor-pointer me-2">
      <button (click)="closeDialog()" mat-icon-button>
        <mat-icon id="close-icon-update-device">close</mat-icon>
      </button>
    </div>
  </div>

  <div mat-dialog-content [formGroup]="editDeviceFormVehicle">
    <div class="d-flex row btn-group" role="group">
      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="changeUpdateFormat($event)">
        <mat-tab label="Fahrzeug"></mat-tab>
        <mat-tab label="Ort"></mat-tab>
      </mat-tab-group>
    </div>

    <div class="mb-4 mt-4">
      <mat-divider></mat-divider>
    </div>

<!--    Fahrzeug-->
    <form [formGroup]="editDeviceFormVehicle" *ngIf="assignToVehicle">
      <mat-form-field class="w-100">
        <mat-label>Gerätename</mat-label>
        <input (input)="checkDeviceName($event)" formControlName="name" id="deviceName" matInput autofocus>
        <mat-error *ngIf="editDeviceFormVehicle.get('name')?.invalid && editDeviceFormVehicle.get('name')?.touched">
          Name ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fahrzeug</mat-label>
        <input (input)="checkDeviceVehicleChanged()" formControlName="vehicle" id="vehicle" matInput>
        <mat-error
          *ngIf="editDeviceFormVehicle.get('vehicle')?.invalid && editDeviceFormVehicle.get('vehicle')?.touched">
          Fahrzeug ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <div class="mb-4">
        <button *ngIf="assignToVehicle"
                mat-raised-button
                type="button"
                (click)="showVehiclesList()"
                [disabled]="vehicles?.length === 0">
          Fahrzeug suchen
        </button>
      </div>

      <app-vehicle-location-autocompletion *ngIf="assignToVehicle && showVehicleSearch"
                                           [showVehicleInput]="true"
                                           [showLocationInput]="false"
                                           [vehicles]="vehicles"
                                           (setVehicleInput)="setVehicleInput($event)">
      </app-vehicle-location-autocompletion>

      <mat-form-field>
        <mat-label>Geräte-Status</mat-label>
        <mat-select formControlName="state">
          <mat-option value="ACTIVE" (click)="onStateChanged(DeviceState.ACTIVE)">AKTIV</mat-option>
        </mat-select>
        <mat-error
          *ngIf="editDeviceFormVehicle.get('state')?.invalid && editDeviceFormVehicle.get('state')?.touched">
          Status ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>
    </form>

<!--    Ort-->
    <form [formGroup]="editDeviceFormLocation" *ngIf="!assignToVehicle">
      <mat-form-field class="w-100">
        <mat-label>Gerätename</mat-label>
        <input (input)="checkDeviceName($event)" formControlName="name" id="deviceNameLocation" matInput autofocus>
        <mat-error *ngIf="editDeviceFormLocation.get('name')?.invalid && editDeviceFormLocation.get('name')?.touched">
          Name ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ort</mat-label>
        <input (input)="checkDeviceLocationChanged()" formControlName="location" id="location" matInput>
        <mat-error
          *ngIf="editDeviceFormLocation.get('location')?.invalid && editDeviceFormLocation.get('location')?.touched">
          Ort ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <div class="mb-4">
        <button *ngIf="!assignToVehicle"
                mat-raised-button
                type="button"
                (click)="showLocationsList()"
                [disabled]="locations?.length === 0">
          Ort suchen
        </button>
      </div>

      <app-vehicle-location-autocompletion *ngIf="!assignToVehicle && showLocationSearch"
                                           [showVehicleInput]="false"
                                           [showLocationInput]="true"
                                           [locations]="locations"
                                           (setLocationInput)="setLocationInput($event)"></app-vehicle-location-autocompletion>

      <mat-form-field>
        <mat-label>Geräte-Status</mat-label>
        <mat-select formControlName="stateLocation">
          <mat-option value="STORAGE" (click)="onStateChanged(DeviceState.ACTIVE)">LAGER</mat-option>
          <mat-option value="REESTABLISH" (click)="onStateChanged(DeviceState.ACTIVE)">RETABLIEREN</mat-option>
        </mat-select>
        <mat-error
          *ngIf="editDeviceFormLocation.get('stateLocation')?.invalid && editDeviceFormLocation.get('stateLocation')?.touched">
          Status ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button color="primary" *ngIf="assignToVehicle" (click)="updateDevice()" class="btn text-white w-100"
          mat-raised-button [disabled]="!vehicleFormDirty || editDeviceFormVehicle.invalid">
    Übernehmen
  </button>
  <button color="primary" *ngIf="!assignToVehicle" class="btn text-white w-100" (click)="updateDevice()"
          mat-raised-button [disabled]="!locationFormDirty || editDeviceFormLocation.invalid">
    Übernehmen
  </button>
</div>
