.text-grey {
  color: #DEDEDE;
}

th {
  font-size: 15px;
}

@media (min-width: 700px) {
  .custom-form-field {
    width: 25% !important;
  }
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.mat-elevation-z8 {
  overflow-x: auto;
}
