.text-grey {
  color: #DEDEDE;
}

th {
  font-size: 15px;
}

@media (min-width: 700px) {
  .custom-form-field {
    width: 25% !important;
  }
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.selected {
  background-color: darkgrey;
}

.export-menu-container {
  position: relative;
  display: inline-block;
}

.radio-btn {
  pointer-events: none;
}
