<mat-form-field class="common-margin-top-search-input w-100 mb-1">
  <mat-label>Gerät suchen</mat-label>
  <input #searchInput matInput placeholder="ID, Name" [(ngModel)]="deviceSearch"
         (ngModelChange)="filterWithAllProperties()" (focus)="refreshDevices()">
</mat-form-field>

<div class="mt-3 ms-5 me-5 mb-5">
  <div class="row d-flex align-items-center mb-4">
    <div class="col-3 d-flex align-items-center col-9 col-lg-10 col-sm-6 col-md-9">
      <h1 class="text-nowrap m-0">Aktuelle Geräte ({{ devices.length }})</h1>
      <button matTooltip="Geräteliste aktualisieren" class="ms-1"
              matTooltipPosition="above" (click)="refreshDevices()" mat-icon-button>
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
    <div class="d-none d-sm-block col-3 col-lg-1 col-sm-6 col-md-3">
      <button color="primary"
              class="btn text-nowrap text-white"
              (click)="openCreateDeviceDialog()"
              [disabled]="formShowing"
              mat-raised-button>
        Gerät hinzufügen
      </button>
    </div>
    <div class="mt-2">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="d-flex align-items-center mb-1">
    <mat-radio-group [disabled]="stateSelected" color="primary" (change)="vehicleOrLocationSelected($event.value)"
                     [(ngModel)]="vehicleOrLocationSelectedValue">
      <mat-radio-button class="me-2" value="vehicle">Nur Fahrzeuge</mat-radio-button>
      <mat-radio-button class="me-2" value="location">Nur Orte</mat-radio-button>
    </mat-radio-group>
    <button matTooltip="Statusfilter zurücksetzen" class="ms-1"
            matTooltipPosition="above" (click)="resetStatus()" mat-icon-button>
      <mat-icon>history</mat-icon>
    </button>
  </div>

  <mat-divider class="d-sm-none"></mat-divider>
  <div class="mb-3">
    <mat-radio-group color="primary" *ngIf="!vehiclesOrLocationsSelected" (change)="stateFilterChanged($event.value)"
                     [(ngModel)]="currentState">
      <mat-radio-button class="me-2" [value]="DeviceState.ACTIVE">AKTIV</mat-radio-button>
      <mat-radio-button class="me-2" [value]="DeviceState.STORAGE">LAGER</mat-radio-button>
      <mat-radio-button [value]="DeviceState.REESTABLISH">RETABLIEREN</mat-radio-button>
    </mat-radio-group>
  </div>

  @if (expandFilter) {
    <div class="mb-3">
      <app-vehicle-location-autocompletion-dashboard [vehicles]="vehicles" [locations]="locations"
                                                     *ngIf="!vehiclesOrLocationsSelected" [fromDate]="fromDate"
                                                     [currentStateValue]="currentState" [toDate]="toDate" [updateType]="updateType"
                                                     (doFilter)="setNameOfVehicleOrLocation($event)">
      </app-vehicle-location-autocompletion-dashboard>

      <div>
        <h2 class="mb-2">Filter letzte Updates</h2>
        <div class="row">
          <!-- From-Date -->
          <mat-form-field class="col-12 col-md-3 mt-1">
            <mat-label>MM/DD/YYYY</mat-label>
            <input
              matInput
              [matDatepicker]="fromPicker"
              [(ngModel)]="fromDate"
              (ngModelChange)="filterWithFromDate($event)"
              #dateInput
            >
            <mat-hint>Wähle ein Von-Datum</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
          </mat-form-field>

          <!-- To-Date -->
          <mat-form-field class="col-12 col-md-3 mt-1">
            <mat-label>MM/DD/YYYY</mat-label>
            <input
              matInput
              [matDatepicker]="toPicker"
              [(ngModel)]="toDate"
              (ngModelChange)="filterWithToDate($event)"
              #dateInput2
            >
            <mat-hint>Wähle ein Bis-Datum</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
          </mat-form-field>

          <div class="mt-1">
            <mat-radio-group color="primary" *ngIf="!vehiclesOrLocationsSelected"
                             (change)="updateTypeFilterChanged($event.value)"
                             [(ngModel)]="updateType">
              <mat-radio-button class="me-2" [value]="UpdateType.CREATED">Erstellung</mat-radio-button>
              <mat-radio-button class="me-2" [value]="UpdateType.MOVE">Verschiebung</mat-radio-button>
              <mat-radio-button [value]="UpdateType.NAME_CHANGED">Namensänderung</mat-radio-button>
              <mat-radio-button [value]="UpdateType.STATE_CHANGED">Statuswechsel</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>

        @if (showDateError) {
          <mat-error>Das Von-Datum muss vor dem Bis-Datum liegen!</mat-error>
        }
      </div>
    </div>
  }

  <div class="mb-4 cursor-pointer">
    <span *ngIf="!expandFilter" (click)="expandFilter = true" class="text-info text-decoration-underline">Erweiterter Filter anzeigen</span>
    <span *ngIf="expandFilter" (click)="expandFilter = false" class="text-info text-decoration-underline">Erweiterter Filter schliessen</span>
  </div>

  <div class="mb-4">
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="devices.length! > 1" class="d-none d-md-flex d-flex align-items-center justify-content-between mb-2">
    <div>
      <button mat-raised-button
              (click)="openDeleteMultipleDialog()"
              class="btn cursor-pointer"
              [disabled]="selectedDevices.length < 1">
        Geräte löschen ({{ selectedDevices.length }})
      </button>
    </div>
    <div class="d-flex align-items-center">
      <mat-checkbox (click)="addAllDevices()"
                    labelPosition="before"
                    color="primary"
                    [checked]="isChecked">
        Alle auswählen
      </mat-checkbox>

      <button [matMenuTriggerFor]="menu_export" matTooltip="Geräte exportieren" matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>upgrade</mat-icon>
      </button>
      <mat-menu #menu_export="matMenu" yPosition="above">
        <button (click)="export('PDF')" mat-menu-item>PDF</button>
        <button (click)="export('EXCEL')" mat-menu-item>EXCEL</button>
      </mat-menu>
    </div>
  </div>

  <div class="d-flex row align-items-center mb-4 d-block d-md-none text-nowrap">
    <h2>Optionen</h2>
    <div class="col-xs mt-1 d-block d-sm-none">
      <button mat-icon-button
              (click)="openCreateDeviceDialog()"
              [disabled]="formShowing"
              matTooltip="Gerät hinzufügen"
              matTooltipPosition="above">
        <mat-icon color="primary">add</mat-icon>
      </button>
    </div>
    <div class="col-12 mt-3 mb-2">
      <button mat-raised-button
              (click)="openDeleteMultipleDialog()"
              class="btn cursor-pointer"
              [disabled]="selectedDevices.length < 1">
        Geräte löschen ({{ selectedDevices.length }})
      </button>
    </div>
    <div class="col-12 d-flex align-items-center">
      <mat-checkbox (click)="addAllDevices()"
                    labelPosition="before"
                    color="primary"
                    *ngIf="devices.length! > 1"
                    [checked]="isChecked">
        Alle auswählen
      </mat-checkbox>
      <button matTooltip="Geräte exportieren" matTooltipPosition="above"
              mat-icon-button [matMenuTriggerFor]="menu_export">
        <mat-icon>upgrade</mat-icon>
      </button>
      <mat-menu #menu_export="matMenu" yPosition="above">
        <button (click)="export('PDF')" mat-menu-item>PDF</button>
        <button (click)="export('EXCEL')" mat-menu-item>EXCEL</button>
      </mat-menu>
    </div>
  </div>

  <mat-progress-spinner *ngIf="showSpinner" style="margin:0 auto;"
                        mode="indeterminate"></mat-progress-spinner>

  <div class="mat-elevation-z8">
    <table *ngIf="!showSpinner" mat-table [dataSource]="dataSource">
      <ng-container style="width: 4%" matColumnDef="Geräte-ID">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width': columnWidths['Geräte-ID']}">Geräte-ID</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': columnWidths['Geräte-ID']}"
            [ngClass]="{'selected': isDeviceSelected(element)}"
            [innerHtml]="element.uuId | highlightSearchText: deviceSearch"></td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'selected': isDeviceSelected(element)}"
            [innerHtml]="element.name | highlightSearchText: deviceSearch"></td>
      </ng-container>

      <ng-container matColumnDef="Fahrzeug">
        <th mat-header-cell *matHeaderCellDef>Fahrzeug</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected': isDeviceSelected(element)}"
            [class.not-defined]="!element.vehicle">
          {{ getVehicleText(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Ort">
        <th mat-header-cell *matHeaderCellDef>Ort</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected': isDeviceSelected(element)}"
            [class.not-defined]="!element.location">
          {{ getLocationText(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'selected': isDeviceSelected(element)}"> {{ element.state | deviceState }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Letztes Update">
        <th mat-header-cell *matHeaderCellDef>Letztes Update</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'selected': isDeviceSelected(element)}"> {{ element.lastUpdate | date: 'dd. MMMM yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Art der Änderung">
        <th mat-header-cell *matHeaderCellDef>Art der Änderung</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'selected': isDeviceSelected(element)}"> {{ element.updateType | updateType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Aktionen">
        <th mat-header-cell *matHeaderCellDef>Aktionen<span class="ms-1"
                                                            *ngIf="selectedDevices.length > 0">({{ selectedDevices.length }}
          )</span></th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected': isDeviceSelected(element)}">
          <div class="d-flex align-items-center">
            <mat-icon (click)="openEditModal(element)"
                      class="material-icons-outlined cursor-pointer"
                      matTooltip="Gerät bearbeiten"
                      matTooltipPosition="above">edit
            </mat-icon>
            <span class="ms-2"></span>
            <mat-icon matButtonIcon (click)="openDeleteModal(element); disableRowClick = true"
                      class="material-icons-outlined cursor-pointer"
                      matTooltip="Gerät löschen"
                      color="warn"
                      matTooltipPosition="above">delete
            </mat-icon>
            <span class="ms-2"></span>
            <mat-checkbox color="primary"
                          *ngIf="devices.length! > 1"
                          [checked]="isDeviceSelected(element)"
                          (click)="handleCheckboxClick(element, $event)">
            </mat-checkbox>
            <mat-icon matButtonIcon (click)="disableRowClick = true"
                      class="cursor-pointer ms-2"
                      matTooltip="Mehr Optionen"
                      [matMenuTriggerFor]="menu_more"
                      matTooltipPosition="above">more_vert
            </mat-icon>
            <mat-menu #menu_more="matMenu" xPosition="after">
              <button (click)="navigateToWorkflow(element)" mat-menu-item>Workflow ansehen</button>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="handleRowClick(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</div>
