<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-5" mat-dialog-title>Gerät hinzufügen</p>
    <div class="d-flex align-items-center">
      <div class="cursor-pointer me-2">
        <button (click)="closeDialog()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="d-flex row btn-group" role="group">
      <button [ngClass]="{ 'selectedButton': addOneDevice, 'notSelectedButton': !addOneDevice }"
              type="button"
              class="btn col-6"
              (click)="addOneDevice = true">
        Ein Gerät
      </button>
      <button [ngClass]="{ 'selectedButton': !addOneDevice, 'notSelectedButton': addOneDevice }"
              type="button"
              class="btn col-6"
              (click)="addOneDevice = false">
        Mehrere Geräte
      </button>
    </div>

    <div>
      <hr>
    </div>

    <div *ngIf="addOneDevice" class="mb-3">
      <p>Gerät zuordnen</p>
      <div class="d-flex btn-group" role="group">
        <button [ngClass]="{ 'selectedButton': !locationSelected, 'notSelectedButton': locationSelected }"
                type="button"
                class="btn col-3"
                (click)="handleVehicleClick()">
          Fahrzeug
        </button>
        <button [ngClass]="{ 'selectedButton': locationSelected, 'notSelectedButton': !locationSelected }"
                type="button"
                class="btn col-3"
                (click)="handleLocationClick()">
          Ort
        </button>
      </div>
    </div>

    <form *ngIf="addOneDevice" [formGroup]="deviceForm">
      <div class="d-flex flex-column flex-wrap">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
          <mat-error *ngIf="deviceForm.get('name')?.invalid && deviceForm.get('name')?.touched">
            <strong>Name ist ein Pflichtfeld!</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!locationSelected">
          <mat-label>Fahrzeug</mat-label>
          <input formControlName="vehicle" matInput>
          <mat-error
            *ngIf="deviceForm.get('vehicle')?.invalid && deviceForm.get('vehicle')?.touched">
            <strong>Fahrzeug ist ein Pflichtfeld!</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="locationSelected">
          <mat-label>Ort</mat-label>
          <input formControlName="location" matInput>
          <mat-error
            *ngIf="deviceForm.get('location')?.invalid && deviceForm.get('location')?.touched">
            <strong>Ort ist ein Pflichtfeld!</strong>
          </mat-error>
        </mat-form-field>

        <div class="d-flex mb-4 flex-wrap mt-2">
          <button *ngIf="locationSelected" class="me-2 mb-2 mb-md-0" mat-raised-button (click)="showLocationsList()">
            Orte
          </button>
          <button *ngIf="!locationSelected" mat-raised-button (click)="showVehiclesList()">Fahrzeuge</button>
        </div>

        <div *ngIf="showLocations">
          <div class="d-flex row">
            <mat-form-field class="w-75 col-9">
              <input
                matInput
                class="mb-2"
                placeholder="Ort suchen"
                formControlName="searchLocation"
                (input)="filterLocations()">
            </mat-form-field>
          </div>
          <div *ngFor="let location of filteredLocations">
            <mat-option (click)="setLocationInput(location)">{{location.name}}</mat-option>
          </div>
          <hr>
        </div>

        <div *ngIf="showVehicles">
          <div class="d-flex row">
            <mat-form-field class="w-75 col-9">
              <input
                matInput
                class="mb-2"
                placeholder="Fahrzeug suchen"
                formControlName="searchVehicle"
                (input)="filterVehicles()">
            </mat-form-field>
          </div>
          <div *ngFor="let vehicle of filteredVehicles">
            <mat-option (click)="setVehicleInput(vehicle)">{{vehicle.name}}</mat-option>
          </div>
          <hr>
        </div>


        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngIf="!locationSelected" value="ACTIVE">AKTIV</mat-option>
            <mat-option *ngIf="locationSelected" value="STORAGE">LAGER</mat-option>
            <mat-option *ngIf="locationSelected" value="REESTABLISH">RETABLIEREN</mat-option>
          </mat-select>
          <mat-error
            *ngIf="deviceForm.get('state')?.invalid && deviceForm.get('state')?.touched">
            <strong>Status ist ein Pflichtfeld!</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div mat-dialog-actions class="d-flex justify-content-end">
        <a (click)="closeDialog()" class="cursor-pointer text-decoration-none me-3 text-black">abbrechen</a>
        <button type="submit"
                class="text-white"
                mat-raised-button
                (click)="saveDevice()"
                style="background-color: #2f80ed">
          Speichern
        </button>
      </div>
    </form>

    <app-add-multiple-devices *ngIf="!addOneDevice"></app-add-multiple-devices>

  </div>
</div>
