<div>
  <mat-card class="p-3 ms-3 me-3 card-background">
    <div class="row">
      <div class="col-10">
        <h1>Gerät hinzufügen</h1>
      </div>
      <div (click)="closeForm()" class="col-2 onHover">
        <button class="mb-1" mat-icon-button><mat-icon>close</mat-icon></button>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput autofocus>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-card>
</div>
