/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import 'bootstrap/scss/bootstrap';

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$my-theme-dark: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

.theme-dark {
  @include mat.all-component-colors($my-theme-dark);
  .mat-icon#close-delete-multiple {
    color: white;
  }
  .mat-icon#close-icon-single-device {
    color: white;
  }
}

.theme-light {
  @include mat.all-component-colors($my-theme);
}

.custom-button {
  background-color: #2f80ed;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.delete-button {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.crossed-out {
  text-decoration: line-through;
}

.not-defined {
  font-style: italic;
  color: #999;
}
