@use '@angular/material' as mat;

@import 'app/components/common/settings/settings.component';

.custom-button {
  background-color: #2f80ed;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.delete-button {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.crossed-out {
  text-decoration: line-through;
}

.not-defined {
  font-style: italic;
  color: #999;
}

.common-margin-top {
  margin-top: 100px;
}

.common-margin-top-search-input {
  margin-top: 65px;
}

.drag:hover {
  cursor: grab;
}

.drag:focus {
  cursor: grab;
}

