<div class="common-margin-top ms-5 me-5">
  <h1 class="mb-1">Workflow</h1>
  <h3 class="mb-2" *ngIf="device && device.name">{{ device.name }}</h3>
  <mat-divider></mat-divider>

  <div class="mb-5 mt-3">
    <div class="d-flex align-items-center mb-2">
      <h2 class="m-0">Filter letzte Updates</h2>
      <mat-icon class="ms-2 cursor-pointer" matTooltip="Filter zurücksetzen" matTooltipPosition="above" (click)="resetFilter()">history</mat-icon>
    </div>
    <div class="row">
      <!-- From-Date -->
      <mat-form-field class="col-12 col-md-3 mt-1">
        <mat-label>MM/DD/YYYY</mat-label>
        <input
          matInput
          [matDatepicker]="fromPicker"
          [(ngModel)]="fromDate"
          #dateInput
          (ngModelChange)="filter()">
        <mat-hint>Wähle ein Von-Datum</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>

      <!-- To-Date -->
      <mat-form-field class="col-12 col-md-3 mt-1">
        <mat-label>MM/DD/YYYY</mat-label>
        <input
          matInput
          [matDatepicker]="toPicker"
          [(ngModel)]="toDate"
          #dateInput2
          (ngModelChange)="filter()">
        <mat-hint>Wähle ein Bis-Datum</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>

      <div class="mt-1">
        <mat-radio-group color="primary"
                         [(ngModel)]="updateType" (change)="filter()">
          <mat-radio-button class="me-2" [value]="UpdateType.CREATED">Erstellung</mat-radio-button>
          <mat-radio-button class="me-2" [value]="UpdateType.MOVE">Verschiebung</mat-radio-button>
          <mat-radio-button [value]="UpdateType.NAME_CHANGED">Namensänderung</mat-radio-button>
          <mat-radio-button [value]="UpdateType.STATE_CHANGED">Statuswechsel</mat-radio-button>
        </mat-radio-group>
      </div>

      <p class="mt-2" *ngIf="filteredHistoryEntries.length === 0" style="font-style: italic">Es konnten keine Einträge gefunden werden</p>
    </div>

    @if (showDateError) {
      <mat-error>Das Von-Datum muss vor dem Bis-Datum liegen!</mat-error>
    }
  </div>

  <div class="timeline mb-5" *ngFor="let entry of filteredHistoryEntries">
    <div class="timeline-item">
      <div class="timeline-date">{{ entry.updateDate | date: 'dd. MMMM yyyy, HH:mm' }}</div>
      <div class="p-2 w-25 bg-gradient rounded">
        <h2>{{ entry.updateType | updateType }}</h2>
        <h3>{{ translateStorageType(entry.storageType) }}: {{ entry.storageName }}</h3>
        <h3>Status: {{ entry.deviceState | deviceState }}</h3>
      </div>
    </div>
  </div>

</div>
