<div cdkDrag [cdkDragDisabled]="dragDisabled" cdkDragRootElement=".cdk-overlay-pane">
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-5" mat-dialog-title>Gerät bearbeiten</p>
    <div class="cursor-pointer me-2">
      <button (click)="closeDialog()" mat-icon-button>
        <mat-icon id="close-icon-update-device">close</mat-icon>
      </button>
    </div>
  </div>

  <div mat-dialog-content [formGroup]="editDeviceFormVehicle">
    <div class="d-flex row btn-group" role="group">
      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="changeUpdateFormat($event)">
        <mat-tab label="Fahrzeug"></mat-tab>
        <mat-tab label="Ort"></mat-tab>
      </mat-tab-group>
    </div>

    <div class="mb-4 mt-4">
      <mat-divider></mat-divider>
    </div>

<!--    Fahrzeug-->
    <form [formGroup]="editDeviceFormVehicle" *ngIf="storageType === StorageType.VEHICLE">
      <mat-form-field class="w-100">
        <mat-label>Gerätename</mat-label>
        <input (input)="checkDeviceName($event)"
               formControlName="name"
               id="deviceName"
               matInput
               autofocus
               (focus)="disableDrag()"
               (blur)="enableDrag()">
        <mat-error *ngIf="editDeviceFormVehicle.get('name')?.invalid && editDeviceFormVehicle.get('name')?.touched">
          Name ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fahrzeug</mat-label>
        <input (input)="checkDeviceVehicleChanged()"
               formControlName="vehicle"
               id="vehicle"
               matInput (focus)="disableDrag()"
               (blur)="enableDrag()">
        <mat-error
          *ngIf="editDeviceFormVehicle.get('vehicle')?.invalid && editDeviceFormVehicle.get('vehicle')?.touched">
          Fahrzeug ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <div *ngIf="!(vehicles.length === 0)" class="mb-4">
        <button mat-raised-button
                type="button"
                (click)="showVehiclesList()">
          Fahrzeug suchen
        </button>
      </div>

      <app-vehicle-location-autocompletion *ngIf="showVehicleSearch"
                                           (focus)="disableDrag()"
                                           (blur)="enableDrag()"
                                           [showVehicleInput]="true"
                                           [showLocationInput]="false"
                                           [vehicles]="filteredVehicles()"
                                           (setVehicleInput)="setVehicleInput($event)">
      </app-vehicle-location-autocompletion>

      <mat-form-field>
        <mat-label>Geräte-Status</mat-label>
        <mat-select formControlName="state">
          <mat-option value="ACTIVE" (click)="onStateChanged(DeviceState.ACTIVE)">AKTIV</mat-option>
        </mat-select>
        <mat-error
          *ngIf="editDeviceFormVehicle.get('state')?.invalid && editDeviceFormVehicle.get('state')?.touched">
          Status ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>
    </form>

<!--    Ort-->
    <form [formGroup]="editDeviceFormLocation" *ngIf="storageType === StorageType.LOCATION">
      <mat-form-field class="w-100">
        <mat-label>Gerätename</mat-label>
        <input (input)="checkDeviceName($event)"
               formControlName="name"
               id="deviceNameLocation"
               matInput
               autofocus
               (focus)="disableDrag()"
               (blur)="enableDrag()">
        <mat-error *ngIf="editDeviceFormLocation.get('name')?.invalid && editDeviceFormLocation.get('name')?.touched">
          Name ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ort</mat-label>
        <input (input)="checkDeviceLocationChanged()"
               formControlName="location"
               id="location"
               matInput
               (focus)="disableDrag()" (blur)="enableDrag()">
        <mat-error
          *ngIf="editDeviceFormLocation.get('location')?.invalid && editDeviceFormLocation.get('location')?.touched">
          Ort ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>

      <div *ngIf="!(locations.length === 0)" class="mb-4">
        <button mat-raised-button
                type="button"
                (click)="showLocationsList()">
          Ort suchen
        </button>
      </div>

      <app-vehicle-location-autocompletion *ngIf="showLocationSearch"
                                           (focus)="disableDrag()"
                                           (blur)="enableDrag()"
                                           [showVehicleInput]="false"
                                           [showLocationInput]="true"
                                           [locations]="filteredLocations()"
                                           (setLocationInput)="setLocationInput($event)"></app-vehicle-location-autocompletion>

      <mat-form-field>
        <mat-label>Geräte-Status</mat-label>
        <mat-select formControlName="stateLocation">
          <mat-option value="STORAGE" (click)="onStateChanged(DeviceState.STORAGE)">LAGER</mat-option>
          <mat-option value="REESTABLISH" (click)="onStateChanged(DeviceState.REESTABLISH)">RETABLIEREN</mat-option>
        </mat-select>
        <mat-error
          *ngIf="editDeviceFormLocation.get('stateLocation')?.invalid && editDeviceFormLocation.get('stateLocation')?.touched">
          Status ist ein Pflichtfeld!
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button color="primary" *ngIf="storageType === StorageType.VEHICLE" (click)="updateDevice()" class="btn text-white w-100"
          mat-raised-button [disabled]="!vehicleFormDirty || editDeviceFormVehicle.invalid">
    Übernehmen
  </button>
  <button color="primary" *ngIf="storageType === StorageType.LOCATION" class="btn text-white w-100" (click)="updateDevice()"
          mat-raised-button [disabled]="!locationFormDirty || editDeviceFormLocation.invalid">
    Übernehmen
  </button>
</div>
